/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "utils";
@import "keyframes";

body {
	font-family: 'Faster One', sans-serif;
}

h1 {
	position: absolute;
	top: 15px;
	left: 20px;
	text-transform: uppercase;
	color: #444;
	font-size: 2em;
	z-index: 3;
	pointer-events: none;
}
.info {
	position: absolute;
	top: 50px;
	left: 20px;
	width: 80%;
	z-index: 100;
	font-family: sans-serif;
	font-size: 11px;
	line-height: 1.2;
}
#world {
	@include background-image(linear-gradient(#ffffff, #ffffff 36%, #aaa 82%, #777 82%, #777 85%, #aaa 93%, #eee));
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.ride {
	position: absolute;
	bottom: 5%;
	left: 50%;
	height: 400px;
	width: 900px;
	margin-left: -450px;
}
	.ride__car {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
	}
		.ride__body {
			position: relative;
			width: 100%;
			height: auto;
			@include animation(rock 2s infinite alternate);
		}
			.ride__color {
				legend {
					position: absolute;
					top: -90px;
					left: 300px;
				}
				label {
					@extend .ir;
					cursor: pointer;
					width: 50px;
					height: 50px;
					background: rgba(0,0,0,0.5);
					display: block;
					position: absolute;
					top: -60px;
					left: 300px;
					z-index: 10;
					padding: 0 20px;
					@include border-radius(50%);

					&[for="ride__color--red"] {
						background-color: #900;
					}
					&[for="ride__color--green"] {
						background-color: #218e33;
						left: 375px;
					}
					&[for="ride__color--baby"] {
						background-color: #24818c;
						left: 450px;
					}
					&[for="ride__color--purple"] {
						background-color: #8d2560;
						left: 525px;
					}
				}
				img {
					width: 100%;
					height: auto;
					display: none;
				}
				input[type="radio"] {
					@extend .visuallyhidden;

					&:checked + img {
						display: block;
					}

				}
			}
			.ride__spoiler {
				position: absolute;
				top: 0;
				right: 0;
				width: 140px;
				height: 120px;

				legend {
					position: absolute;
					top: -90px;
					right: 80px;
					width: 200px;
				}

				label {
					@extend .ir;
					cursor: pointer;
					width: 50px;
					height: 50px;
					background: rgba(0,0,0,0.5) no-repeat center center;
					background-size: auto 90%;
					display: block;
					position: absolute;
					top: -60px;
					right: 30px;
					z-index: 10;
					padding: 0 20px;
					@include border-radius(50%);

					&[for="ride__spoiler--single"] {
						background-image: url(images/spoiler-red.png);
						right: 105px;
					}
					&[for="ride__spoiler--double"] {
						background-image: url(images/spoiler-double.png);
						right: 180px;
					}
				}
				input[type="radio"] {
					@extend .visuallyhidden;

					&:checked + img {
						display: block;
					}

				}
				img {
					position: absolute;
					top: 0;
					left: 0;
					display: none;
				}
			}
	.ride__wheels {
		@extend .clearfix;
		margin: -105px 30px 0 5px;
		position: relative;
		z-index: 2;

		legend {
			position: absolute;
			bottom: 540px;
			left: 0;
		}

		label {
			@extend .ir;
			cursor: pointer;
			width: 50px;
			height: 50px;
			background: rgba(0,0,0,0.5) url(images/wheel-orig.png) no-repeat center center;
			background-size: auto 90%;
			display: block;
			position: absolute;
			bottom: 480px;
			left: 0;
			z-index: 10;
			padding: 0 20px;
			@include border-radius(50%);

			&[for="ride__wheels--alloy"] {
				background-image: url(images/wheel-alloy.png);
				left: 75px;
			}
			&[for="ride__wheels--monster"] {
				background-image: url(images/wheel-monster.png);
				left: 150px;
			}
		}
		input[type="radio"] {
			@extend .visuallyhidden;

			&:checked + .ride__wheels__set {
				display: block;
			}

		}
	}
		.ride__wheels__left,
		.ride__wheels__right {
			position: relative;
			@include animation(roll 2s infinite linear);
		}
		.ride__wheels__left {
			float: left;
		}
		.ride__wheels__right {
			float: right;
		}
		.ride__wheels__shadow {
			display: block;
			position: absolute;
			bottom: -9px;
			left: 16px;
			width: 850px;
			height: 20px;
			content: "";
			background: black;
			@include border-radius(50%);
			@include box-shadow(0 0 20px #000);
			opacity: 0.3;
			@include animation(shadow 2s infinite alternate);
		}

		/* wheel choices */
		.ride__wheels__set {
			@extend .clearfix;
			clear: both;
			display: none;
		}
		.ride__wheels__set--orig {
			img {
				width: 18%;
			}
			.ride__wheels__left {
				left: 25px;
			}
			.ride__wheels__right {
				right: 35px;
			}
		}
		.ride__wheels__set--monster {

			img {
				width: 40%;
			}
			.ride__wheels__left {
				left: -70px;
			}
			.ride__wheels__right {
				left: 70px;
			}
		}

