/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "utils";
@import "keyframes";


h1 {
	position: absolute;
	top: 5%;
	left: 0;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	color: #444;
	font-size: 3em;
	z-index: 3;
}
#world {
	@include background-image(linear-gradient(#ffffff, #ffffff 36%, #aaa 82%, #777 82%, #777 85%, #aaa 93%, #eee));
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.ride {
	position: absolute;
	bottom: 5%;
	left: 50%;
	height: 400px;
	width: 900px;
	margin-left: -450px;
}
	.ride__car {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
	}
		.ride__body {
			position: relative;
			width: 100%;
			height: auto;
			@include animation(rock 2s infinite alternate);
		}
	.ride__wheels {
		@extend .clearfix;
		margin: -105px 30px 0 5px;
		position: relative;
		z-index: 2;

		label {
			@extend .ir;
			cursor: pointer;
			width: 50px;
			height: 50px;
			background: rgba(0,0,0,0.5) url(/images/wheel-alloy.png) no-repeat center center;
			background-size: auto 90%;
			display: block;
			position: absolute;
			bottom: 500px;
			left: 0;
			z-index: 10;
			padding: 0 20px;
			@include border-radius(50%);

			&[for="ride__wheels--monster"] {
				background-image: url(/images/wheel-monster.png);
				left: 75px;
			}
		}
		input[type="radio"] {
			@extend .visuallyhidden;

			&:checked + .ride__wheels__set {
				display: block;
			}

		}
	}
		.ride__wheels__left,
		.ride__wheels__right {
			position: relative;
			@include animation(roll 2s infinite linear);
		}
		.ride__wheels__left {
			float: left;
		}
		.ride__wheels__right {
			float: right;
		}
		.ride__wheels__shadow {
			display: block;
			position: absolute;
			bottom: -9px;
			left: 16px;
			width: 850px;
			height: 20px;
			content: "";
			background: black;
			@include border-radius(50%);
			@include box-shadow(0 0 20px #000);
			opacity: 0.3;
			@include animation(shadow 2s infinite alternate);
		}

		/* wheel choices */
		.ride__wheels__set {
			@extend .clearfix;
			clear: both;
			display: none;
		}
		.ride__wheels__set--alloy {
		}
		.ride__wheels__set--monster {

			img {
				width: 40%;
			}
			.ride__wheels__left {
				left: -70px;
			}
			.ride__wheels__right {
				left: 70px;
			}
		}

