/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
.clearfix, .ride__wheels {
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after, .ride__wheels:after {
  content: "";
  display: table;
  clear: both;
}

/* line 14, ../sass/screen.scss */
h1 {
  position: absolute;
  top: 5%;
  left: 0;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  color: #444;
  font-size: 3em;
  z-index: 3;
}

/* line 25, ../sass/screen.scss */
#world {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(36%, #ffffff), color-stop(82%, #aaaaaa), color-stop(82%, #777777), color-stop(85%, #777777), color-stop(93%, #aaaaaa), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 36%, #aaaaaa 82%, #777777 82%, #777777 85%, #aaaaaa 93%, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #ffffff 36%, #aaaaaa 82%, #777777 82%, #777777 85%, #aaaaaa 93%, #eeeeee);
  background-image: -o-linear-gradient(#ffffff, #ffffff 36%, #aaaaaa 82%, #777777 82%, #777777 85%, #aaaaaa 93%, #eeeeee);
  background-image: linear-gradient(#ffffff, #ffffff 36%, #aaaaaa 82%, #777777 82%, #777777 85%, #aaaaaa 93%, #eeeeee);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 33, ../sass/screen.scss */
.ride {
  position: absolute;
  bottom: 5%;
  left: 50%;
  height: 400px;
  width: 900px;
  margin-left: -450px;
}

/* line 41, ../sass/screen.scss */
.ride__car {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

/* line 47, ../sass/screen.scss */
.ride__body {
  width: 100%;
  height: auto;
}

/* line 51, ../sass/screen.scss */
.ride__wheels {
  margin: -105px 30px 0 5px;
  position: relative;
  z-index: 2;
}

/* line 57, ../sass/screen.scss */
.ride__wheels__left {
  float: left;
}

/* line 60, ../sass/screen.scss */
.ride__wheels__right {
  float: right;
}
